*, *::after, *::before {
	box-sizing: border-box;
}

html, body{
  width: 100%;
	height: 100%;
  font-family: 'Muli', sans-serif;
}

body {
	padding: 0rem 2rem 0rem 2rem;
	color:#666666;
	font-family: 'Muli', sans-serif;
	overflow-wrap: break-word;
}

img:hover{
	opacity: 0.8;
}

/*--------------------------HEADER----------------------------------*/
header {
	width: 100%;
	height: 10em;
	line-height: 1.6;
	text-align: center;
	color: #81D8D0;
	margin-top: 1rem;
  margin-bottom: 1rem;
	padding: 1rem;
}

/*------------------------NAVIGATION BAR----------------------------*/
a.nav-button.current-link{
	color: #097988;
	border-bottom: 2px solid #097988;
}

.nav-style{
	padding: 0rem 2rem;
	background-color: #FFFFFF;
  width: 100%;
  z-index: 3;
}

.nav-style ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: scroll;
  background-color: #FFFFFF;
}

.nav-style li a {
  padding: 1.25em;
  text-decoration: none;
  background-color: #FFFFFF;
}

.nav-style li a:hover,
.nav-style .menu-btn:hover {
  background-color: #ffffff;
}

.nav-style .logo {
	z-index: 4;
	display: block;
  float: left;
  font-size: 2em;
  text-decoration: none;
}

/* menu */
.nav-style .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
	background-color: #FFFFFF;
}

/* menu icon */
.nav-style .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.nav-style .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.nav-style .menu-icon .navicon:before,
.nav-style .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.nav-style .menu-icon .navicon:before {
  top: 5px;
}

.nav-style .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.nav-style .menu-btn {
  display: none;
}

.nav-style .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.nav-style .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.nav-style .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.nav-style .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.nav-style .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.nav-style .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.nav-button {
	display: inline-block;
	font-size: 0.90em;
	color: #81D8D0;
	padding: 0.15em 0em;
	margin: 0em 1.5em;
	border: none;
	font-weight: bold;
	letter-spacing: 0.07em;
	text-decoration: none;
	-webkit-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;

}
.nav-button:hover, .nav-button:focus {
	color: #097988;
	border-bottom: 2px solid #097988;
}

img.logo {
	width:auto;
	height:2em;
}

img.search{
	width:auto;
	height:2em;
}

.width-adjust{
	-webkit-flex-grow:50;
	-ms-flex-grow:50;
	flex-grow: 50;
}

.search-field{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-wrap:wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-flex-grow:1;
	-ms-flex-grow:1;
	flex-grow: 1;
}



@media (min-width: 59em) {
  .nav-style li {
    float: left;
		z-index: 3;
  }
  .nav-style li a {
		background-color: #FFFFFF;
    padding: 20px 2em;
		z-index: 3;
  }
  .nav-style .menu {
    clear: none;
    float: right;
    max-height: none;
		z-index: 3;
  }
  .nav-style .menu-icon {
    display: none;
		float: right;
		z-index: 3;
  }
}


@media (max-width: 59em) {
	.nav-style{
		display: inline-block;
	}
	.nav-button{
		display: block;
	}
}



/*-----------------------TEXT-----------------------------*/
p, ol, ul, a, label {
  margin-top: 0;
  max-width: 70rem;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  color: rgb(38, 42, 43);
  text-align: left;
}

#homeMainWrapper p{
	padding-left: 10em;
	padding-right: 10em;
	padding-top: 2em;
	line-height: 1.6;
	text-align: center;
	color: #666666;
}

#homeMainWrapper h1{
	line-height: 1.6;
	text-align: center;
	color: #666666;
}

#productwrap h1{
		padding-left: 10em;
		padding-right: 10em;
		padding-bottom:  3em;

		line-height: 1.6;
		text-align: center;
		color: #666666;
}

.brand {
	width: auto;
	height: 100%;
	float: left;
	margin: 0 0 0 5%;
}

h1{
	margin-top: 2em;
}

h1.heading{
	color:#81D8D0;
	font-size: 1.75em;
	letter-spacing: 0.05em;
  text-align: left;

}
h2.heading{
	color:#ebded0;
	font-size: 1.5em;
	letter-spacing: 0.04em;
  text-align: left;
}

h1.header{
	font-size: 1.5em;
	letter-spacing: 0.04em;
  margin-top:6em;
}

h3.heading{
	color:#333333;
	font-size: 1.2em;
	font-weight: normal;
	letter-spacing: 0.04em;
  text-align: left;
}

/*Styling for the paragraph*/
p.parastyle{
	color:#333333;
	font-size: 0.85em;
  text-align: left;
}

/*Stylin for bulleted lists*/
ul{
	list-style-type: disc;
}

ul li {
	padding: 0.25em 0.25em;
	margin: 0.25em 0em;
	color: #81D8D0;
	letter-spacing: 0.05em;
}

ol{
	list-style-type: decimal;
}

ol li {
	padding: 0.25em 0.25em;
	margin: 0.25em 0em;
	color: #81D8D0;
	letter-spacing: 0.05em;
}

h2{
	color: #81D8D0;
}

h3{
	padding-top:  2em;
	padding-bottom:  1em;
	color:#333333;
}

section:not([id]) {
	margin: 1em 0;
}

section h3 {
	margin-bottom: 0;
}

section p {
	margin-top: 0;
}

code {
	background-color: #EEE;
	padding: 0.5em 0.75em;
}

.clickable-heading {
    cursor: pointer;
}
.clickable-heading:hover {
    color:rgb(148,147,149);
}

.in-text-link{
	color: #A57A5A;
	text-decoration: none;
	letter-spacing: 0.05em;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}

.in-text-link:hover, .in-text-link:focus{
	color: #81D8D0;
	text-decoration: underline;
}

.centered {
	background: rgba(255, 255, 255, 0.5);
  position: absolute;
	line-height: 1.6;

  top: 70%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.centered h1{
	padding-left:2em;
	padding-top:16px;
}

.centered p{
	padding-left:5em;
	padding-right:5em;
	padding-bottom:2.5em;
}

@media (max-width: 58em) {
  #homeMainWrapper p{
  	padding-left: 0em;
  	padding-right: 0em;
  	padding-top: 0.5em;
  	line-height: 1.6;
  	text-align: center;
  	color: #666666;
  }

  p, ol, ul, a, label{
    font-size: 0.8em;
  }

	h1{
		font-size: 1.5em;
	}

	h2{
		font-size: 1.25em;
	}

	h3{
		font-size: 1em;
		padding-top:  0.75em;
		padding-bottom:  0.75em;
	}

	h4{
		font-size: 0.75em;
	}

	h5{
		font-size: 0.5em;
	}

	#productwrap h1{
			padding-left: 1.5em;
			padding-right: 1.5em;
			padding-bottom:  1em;
	}

	.centered p{
		padding-left:0em;
		padding-right:0em;
		padding-bottom:1.5em;
	}

	.centered {
	  position: relative;
		top: 70%;
	  left: 55%;
	  transform: translate(-55%, 0%);
	}

	.centered h1{
		font-size: 1.5em;
		padding-left:0em;
		padding-top:16px;
	}
}


/*-----------------------SECTION----------------------*/
.banner {
  line-height: 20px;
  text-align: left;
  margin: 3rem 0rem;
}

.styleguide-banner {
  background-color: rgb(240,240,240);
  line-height: 20px;
  padding: 15rem 5rem 10rem 8rem;
  text-align: left;
  margin-bottom: 3rem;
}

.about-section{
	line-height: 20px;
  text-align: left;
	padding: 10rem 6rem;
  margin: 2rem 0rem;
}


@media (max-width: 50em) {
	.about-section{
		line-height: 20px;
	  text-align: left;
		padding: 3rem 3rem;
	  margin: 0rem 0rem;
	}
}

/*-----------------------FOOTER-----------------------*/
.site-footer{
  margin-top: 10em;
  padding:2rem;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer h5{
  color:#26272b;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a{
  color:#737373;
}
.site-footer a:hover{
  color:#3366cc;
  text-decoration:none;
}
.footer-links{
  padding-left:0;
  list-style:none
}
.footer-links li{
  display:block
}
.footer-links a{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover{
  color:#81D8D0;
  text-decoration:none;
}
.footer-links.inline li{
  display:inline-block
}

/*---------------------BUTTONS---------------------------*/
.submit-btn{
	padding: 0.5em 0.5em;
	font-size: 0.90em;
	color:#FFF;
	background-color: #81D8D0;
	border-radius: 0.20em;
	text-decoration:none;
	letter-spacing: 0.05em;
	-webkit-transition: background-color 0.3s ease-out;
	transition: background-color 0.3s ease-out;
}
.submit-btn:hover, .submit-btn:focus {
  background-color: rgb(148, 147, 149);
}

.checkout-btn{
	padding: 1em 1em;
	font-size: 0.90em;
	color:#FFF;
	background-color: #81D8D0;
	border-radius: 0.20em;
	text-decoration:none;
	letter-spacing: 0.05em;
	-webkit-transition: background-color 0.3s ease-out;
	transition: background-color 0.3s ease-out;
}
.checkout-btn:hover, .checkout-btn:focus {
  background-color: rgb(148, 147, 149);
}

/*-----------------------TEXT FIELDS----------------------*/
input[type=text]{
	font-size: 0.85em;
	border:none;
	border-bottom: 2px solid #81D8D0;
	padding: 0.5em 0.5em;
	letter-spacing: 0.05em;
	-webkit-transition: border 0.3s ease-out;
	transition: border 0.3s ease-out;

}
.credit{
	display: flex;
}
input[type=text]:focus{
	border: 2px solid #81D8D0;
	border-radius: 4px;
	outline:none;
}

input[type=number]{
	font-size: 0.85em;
	border:none;
	border-bottom: 2px solid #81D8D0;
	padding: 0.5em 0.5em;
	letter-spacing: 0.05em;
	-webkit-transition: border 0.3s ease-out;
	transition: border 0.3s ease-out;
}
input[type=number]:focus{
	border: 2px solid #81D8D0;
	border-radius: 4px;
	outline:none;
}

/*---------------------CHECKBOX + RADIO--------------------*/
.checkbox-container, .radio-container  {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input, .radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

.selected {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

.checkbox-container:hover input ~ .checkmark, .radio-container:hover input ~ .selected{
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark, .radio-container input:checked ~ .selected{
  background-color: #81D8D0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after, .selected:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after, .radio-container input:checked ~ .selected:after {
  display: block;
}

/* checkbox */
.checkbox-container .checkmark:after{
  left: 4px;
  top: 1px;
  width: 7px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*radio*/
.radio-container .selected:after {
 	top: 5px;
	left: 5px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: white;
}

/*-------------------PRODUCT LISTING-----------------------*/
.card {
  max-width: 300px;
  margin: auto;
  position: relative;
  display: inline-block;
  text-align: left;
  z-index: 0;
}

.card-text{
  margin-top: 0.3em;
  margin-bottom: 0;
  font-size: 0.8em;
}

.price {
  color: grey;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.8em;
}

.checkout-cart{
	background-color: #eee;
	color: #A57A5A;
	max-width: 1280px;
	width: 100%;
	border-radius: 10px;
	padding:20px;
	height: 332px;
	/* display: flex; */
}

.other-info{
	margin-left: 2em;
	justify-content: space-between;
}
.other-info .checkout-btn{
	margin-top: 11em;
	margin-left: 28em;
}
.item-info{
	/* display:flex */
	text-align: left;
	padding-top: 15px;

}
.item-info h5{
	margin-top: 15em;
	margin-left: 60em;
}

.other-info a{

	color:#384a59;
	margin-left: 56em;
}
.perfume-container div{
	flex-direction: row;

}
.product-list img:hover{
	opacity: 0.8;
}

.item-img{
	margin-bottom: 30px;
	float: left;
}

.item-img img{
	border-radius: 10px;

	max-width: 560px;
	max-height: 288px;
}


img.product-img{
	height:auto;
	padding:1em;
	border:#81D8D0 solid 1px;
	border-radius: 3px;
}

@media (max-width: 50em) {

	.perfume-items{
		width:70%
	}
}

/*Styling for the Grid Structure*/

.header{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-wrap:wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;


}

.grid-logo{
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;

	background-color:#CCCCCC;
	color:#FFF;
	padding:1.5em 2em;

}


.navigation{
	-webkit-flex-grow: 6;
	-ms-flex-grow: 6;
	flex-grow: 6;

	background-color: #ebded0;
	color:#FFF;
	padding:1.5em 2em;

}

.body-top{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-wrap:wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	background-color: #DDDDDD;
	color:#FFF;
	padding:1.5em 2em;
	height:20em;
}

.body-bottom{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-wrap:wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

}

.section{

	background-color: #ebded0;
	color:#FFF;
	/* padding:1.5em 2em; */
	margin: 1em 1.5em;
	height:15em;

	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;

}
.section combined_elements{
	padding-left:100px;


}
.footer{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-wrap:wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	background-color:#CCCCCC;
	color:#FFF;
	height:10em;
	margin-top: 1.5em;
	padding:1.5em 2em;

}

/*Styling for the Color Swatches*/

.color-swatches{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-wrap:wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.main-color{
	width:50%;
	background-color: #81D8D0;
	color:#FFF;
	padding:1.5em 2em;
	height:8em;



}

.sub-color{
	width:20%;
	background-color: #ebded0;
	color:#FFF;
	padding:1.5em 2em;
	height:8em;


}

.text-color{
	width:15%;
	background-color: #333333;
	color:#FFF;
	padding:1.5em 2em;
	height:8em;
}

label {
	padding-bottom: 5px;
	font-size: 13px;
	margin-bottom: 1em;
  text-align: left;
}

input {
	margin-top: 3px;
	padding: 15px;
	font-size: 16px;
}
.number-input div{
	flex-direction: column;
	margin-bottom: 1em;
}

.highlight{
	width:10%;
	background-color: #A57A5A;
	color:#FFF;
	padding:1.5em 2em;
	height:8em;
}

.page_template-big{
	border: 1px solid #FFFAF1;
	width:auto;
	background-color: #FFFAF1;
	border-radius:15px;
	margin: 10px;
	padding: 10px;
}


.MainWrapper{
	width: 96%;
	/* padding: 10px; */
	margin: 0px auto;
	background-color: #FFFAF1;

}
.clear:after {
	content: "";
	display: table;
	clear: both;
}



.MainSummaryWrapper{
	width: 96%;
	/* padding: 10px; */
	margin: 0px auto;
	background-color: #FFFAF1;
}

.MainCheckWrapper{
	width: 96%;
	/* padding: 10px; */
	margin: 0px auto;
	/* background-color: #FFFAF1; */
}

.divLine{
	width:96%;
	margin: 0 auto;
	height: 1px;
	background-color: black;
}

.font-spec{
	color: #A57A5A;
}

.sidebtn a{
	text-decoration: none;
	color: #81D8D0;
}

.imgborder{
	border-radius: 6px 6px 6px 6px;
	max-width: 200px;
	width: 100%;
	margin-bottom: 1em;
}
.bottom-left-font{
	text-align: left;
	/* background-color: #eee; */
}
.bottom-right-font{
	margin-left:20px;
}


.col {
	display: block;
	float:left;
}

.span_1_of_1{
	width: 100%;

}

.span_1_of_2{
	width: 50%;

}
.span_1_of_3{
	width: 29.2%;

}
.span_1_of_5{
	width: 17%;

}

/** from **/
.form-group {
	margin-bottom: 30px;
	margin: 0 auto;
	width: 70%;
	/* background-color: #81D8D0; */
}
.form-group-button {
	margin-bottom: 15px;
	margin: 0 auto;
	text-align: right;
	width: 70%;
	/* background-color: #81D8D0; */
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}
.btn-default {
	color: #333;
	background-color: #ccc;
	border-color: #ccc;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

input {
	margin: 0px;
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
}

@media (min-width: 480px) and (max-width: 768px) {
	.page_template-big{
		width:100%;
	}
	.MainWrapper{
		text-align: center;
	}
	.span_1_of_2{
		width: 100%;
	}
	.span_1_of_3{
		width: 100%;
	}
	.span_1_of_5{
		width: 100%;
	}
	.sub-button{
		margin-top: 10px;
	}
}

@media (max-width: 480px)  {
	.page_template-big{
		width:100%;
	}
	.MainWrapper{
		text-align: center;
	}
	.span_1_of_2{
		width: 100%;
	}
	.span_1_of_3{
		width: 100%;
	}
	.span_1_of_5{
		width: 100%;
	}
	.sub-button{
		margin-top: 10px;
	}
}

/*-------------------PRODUCT PAGE--------------------------*/
.product-grid {
  padding-left: 2em;
  padding-right:2em;
}

.product-row{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -16px;
	padding-top:1.5em;
	padding-bottom:1.5em;
}

.product-row img{
	width: 70%;
}

.product-row h5{
	font-size: 3em;
}

@media (max-width: 800px) {
	.product-row {
		padding-top: 3em;
		padding-bottom:1em;
	}

	.product-row img{
		width: 100%;
	}

	.product-grid {
		margin-top: 13em;
	}

	.product-grid .col-50 {
		-ms-flex: 100%;
		flex: 100%;
	}

	.product-grid .col-25 {
		-ms-flex: 100%;
		flex: 100%;
	}

	.product-row h5{
		font-size: 3em;
	}
}

/*-------------PAYMENT FORM + CARD FORM---------------*/
.payment-container {
	background-color: rgb(248,248,248);
	padding: 2em;
  margin:2em;
  margin-top:8em;
}

.payment-container input[type=text], .payment-container textarea {
	width: 100%;
	margin-bottom: 20px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.icon-container {
	margin-bottom: 0.5em;
	padding: 0.5em 0;
	font-size: 24px;
}

.btn {
	background-color: #81D8D0;
	color: white;
	padding: 12px;
	margin: 10px 0;
	border: none;
	width: 100%;
	border-radius: 3px;
	cursor: pointer;
	font-size: 17px;
}

.btn:hover {
	background-color: rgb(148, 147, 149);
}

hr {
	border: 1px solid lightgrey;
}

span.price {
	float: right;
	color: grey;
}

@media (max-width: 800px) {
	.row {
		flex-direction: column-reverse;
	}
	.col-25 {
		margin-bottom: 20px;
	}
}


/*----------------------CHECKOUT PAGE---------------------------*/
.checkout-element {
	margin: 5em;
	margin-top: 5em;
}

@media (max-width: 800px) {
	.checkout-element {
		margin: 3em;
		margin-top: 12em;
	}
}

/*--------------------------GRID-----------------------------*/
.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -16px;
}

.col-25 {
	-ms-flex: 25%;
	flex: 25%;
}

.col-50 {
	-ms-flex: 50%;
	flex: 50%;
}

.col-75 {
	-ms-flex: 75%;
	flex: 75%;
}

.col-25,
.col-50,
.col-75 {
	padding: 0 16px;
}
